/* uikit-intro.css: Custom styles for the UIKIT Home page */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  user-select: none;
}

.mainApp {
  background-color: var(--neo-color-background);
  padding: 10px;
  width: 100%;
}

.containerApp {
  display: flex;
  gap: 10px;
  height: 100%;
}

.mainContent {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.sideBarApp {
  width: 250px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--neo-color-foreground);
}

.headerApp {
  width: 100%;
  background-color: var(--neo-color-foreground);
  color: white;
  padding: 12px 16px;
  border-radius: 10px;
}

.contentArea {
  flex: 1;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: var(--neo-color-alert);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neo-color-border) var(--neo-color-background);
}

.contentArea::-webkit-scrollbar {
  width: 8px;
}

.contentArea::-webkit-scrollbar-thumb {
  background-color: var(--neo-color-border);
  border-radius: 10px;
}

.contentArea::-webkit-scrollbar-track {
  background-color: var(--neo-color-background);
}